<section class="section">
  <div id="profile-main" class="container">
    <div class="columns is-variable is-8">
      <div class="column is-narrow">
        <div class="has-text-centered">
          <p>
            <img
              src="{{js .IconURL}}"
              width="250"
              height="250"
              class="border-radius-5"
            />
          </p>
        </div>
      </div>
      <div class="column">
        <p class="is-size-2">{{html .Name}}</p>
        <hr />

        <!-- info -->
        <div class="m-t-lg m-b-lg">
          {{if .Location}}
          <p class="m-t-md">
            <span class="tag is-light">{{html .LS.location}}</span>
          </p>
          <p class="m-t-sm">{{html .Location}}</p>
          {{end}} {{if .Company}}
          <p class="m-t-md">
            <span class="tag is-light">{{html .LS.company}}</span>
          </p>
          <p class="m-t-sm">{{html .Company}}</p>
          {{end}} {{if .Website}}
          <p class="m-t-md">
            <span class="tag is-light">{{html .LS.url}}</span>
          </p>
          <p class="m-t-sm">
            <a id="m_user_url" href="#">{{html .Website}}</a>
          </p>
          {{end}} {{if .Bio}}
          <p class="m-t-md">
            <span class="tag is-light">{{html .LS.bio}}</span>
          </p>
          <p class="m-t-sm">{{.Bio}}</p>
          {{end}}
        </div>
      </div>
      <!-- column 2 -->
    </div>
  </div>
</section>

<script>
  window.appUserURL = "{{js .UserURL}}";
  window.appTargetUID = "{{js .ID}}";
  window.appUserProfileURL = "{{js .Website}}";
</script>
