<container-view>
  <heading-view
    >{{.Name}} {{if .ForumEditable}}
    <qing-button slot="decorator" href="{{.ForumSettingsURL}}" class="__qing_ls__"
      >settings</qing-button
    >
    {{end}}
  </heading-view>
  <div class="p-b-md">{{.DescHTML}}</div>
  <new-thread-app></new-thread-app>
  <tab-view>
    <a id="m-forum-tab-threads" href="{{.ForumURL}}" class="__qing_ls__">allThreads</a>
    <a id="m-forum-tab-questions" href="{{.ForumQuestionsURL}}" class="__qing_ls__">questions</a>
    <a id="m-forum-tab-discussions" href="{{.ForumDiscussionsURL}}" class="__qing_ls__"
      >discussions</a
    >
  </tab-view>

  <div class="m-t-sm">{{.FeedListHTML}}</div>
  {{.PageBarHTML}}
</container-view>
