<!-- An SEO-friendly page bar. -->
<!-- Refer to `server:r/rcm/pageData.go` for template fields. -->
<div class="row">
  {{if .HasPrevPage}}
  <div class="col-auto">
    <a class="page-bar-link" href="{{.FirstPageURL}}">&lt;&lt;</a>
  </div>
  <div class="col-auto">
    <a class="page-bar-link" href="{{.PrevPageURL}}"><span class="__qing_ls">previousPage</span></a>
  </div>
  {{end}} {{if .HasNextPage}}
  <div class="col-auto">
    <a class="page-bar-link" href="{{.NextPageURL}}"><span class="__qing_ls">nextPage</span></a>
  </div>
  <div class="col-auto">
    <a class="page-bar-link" href="{{.LastPageURL}}">&gt;&gt;</a>
  </div>
  {{end}}
</div>
