<!-- An SEO-friendly page bar. -->
<!-- Refer to `server:r/rcm/pageData.go` for template fields. -->
<p class="text-center">
  {{if .TotalPage}}
  <a class="link-btn" href="{{.FirstPageURL}}">&lt;&lt;</a> {{end}}
  <a class="link-btn {{if not .HasPrevPage}}content-disabled{{end}}" href="{{.PrevPageURL}}"
    ><span class="__qing_ls">previousPage</span></a
  >
  <a class="link-btn {{if not .HasNextPage}}content-disabled{{end}}" href="{{.NextPageURL}}"
    ><span class="__qing_ls">nextPage</span></a
  >
  {{if .TotalPage}}
  <a class="link-btn" href="{{.LastPageURL}}">&gt;&gt;</a>
  {{end}}
</p>
