# Log files
*.log

# Redis dump files
*.rdb

# Node modules
node_modules

# TypeScript temp artifacts
*.tsbuildinfo

# qing dev folder
.qing-dev

/qing_data/*
!/qing_data/README.md
/qing_tmp/*
!/qing_tmp/README.md
