<!-- User section -->
<div class="m-t-md row">
  <div class="col-auto">
    <a href="{{.UserURL}}">
      <img src="{{.UserIconURL}}" class="avatar-m" width="50" height="50" />
    </a>
  </div>
  <div class="col">
    <div><a href="{{.UserURL}}">{{html .UserName}}</a></div>
    <div>
      <p>
        <!-- prettier-ignore -->
        <time-field>{{.CreatedAt.Format "2006-01-02T15:04:05Z07:00"}}{{if .ModifiedAt}}|{{.ModifiedAt.Format "2006-01-02T15:04:05Z07:00"}}{{end}}</time-field>
        <edit-bar targetID="{{.EID}}" targetUserID="{{.UserEID}}" hasLeftMargin></edit-bar>
      </p>
    </div>
  </div>
</div>
<hr />
<div>{{.Content}}</div>
