<container-view>
  <h2>
    <a href="{{.ThreadURL}}">{{html .Title}}</a>
  </h2>
  <!-- User section -->
  <div class="m-t-md row">
    <div class="col-auto">
      <a href="{{.UserURL}}">
        <img src="{{.UserIconURL}}" class="avatar-m" width="50" height="50" />
      </a>
    </div>
    <div class="col">
      <div><a href="{{.UserURL}}">{{html .UserName}}</a></div>
      <div>
        <p>
          <!-- prettier-ignore -->
          <time-field>{{.CreatedAt.Format "2006-01-02T15:04:05Z07:00"}}{{if .ModifiedAt}}|{{.ModifiedAt.Format "2006-01-02T15:04:05Z07:00"}}{{end}}</time-field>
          <edit-bar itemID="{{.EID}}" itemUserID="{{.UserEID}}" hasLeftMargin></edit-bar>
        </p>
      </div>
    </div>
  </div>
  <hr />
  <div>{{.Content}}</div>

  {{.MessageListHTML}}
</container-view>

<script>
  window.appThreadID = '{{js .EID}}';
  window.appThreadUserID = '{{js .UserEID}}';
  window.appThreadCmtCount = parseInt('{{js .CmtCount}}', 10);
  window.appThreadMsgCount = parseInt('{{js .MsgCount}}', 10);
</script>
