<div class="avatar-grid m-b-md">
  <div>
    <a href="{{html .UserURL}}">
      <img
        src="{{html .UserIconURL}}"
        alt="{{html .UserName}}"
        class="avatar-m"
        width="50"
        height="50" />
    </a>
  </div>
  <div>
    <div class="feed-item-title"><a href="{{html .Link}}">{{html .Title}}</a></div>
    <div class="m-t-sm">
      <a href="{{html .UserURL}}">{{html .UserName}}</a>
      <span class="m-l-md">
        <time-field createdAt="{{html .CreatedAt}}" modifiedAt="{{html .ModifiedAt}}"></time-field>
      </span>
    </div>
  </div>
</div>
