<div class="avatar-grid m-t-lg m-b-lg">
  <div>
    <a href="{{html .UserURL}}">
      <img
        src="{{html .UserIconURL}}"
        alt="{{html .UserName}}"
        class="avatar-m"
        width="50"
        height="50" />
    </a>
  </div>
  <div>
    <a href="{{html .Link}}">
      <div class="feed-item-title">{{html .Title}}</div>
      {{if .Summary}}
      <div class="m-t-md md-content feed-item-summary">{{html .Summary}}</div>
      {{end}}
    </a>
    <div class="m-t-md">
      <a href="{{html .UserURL}}">{{html .UserName}}</a>
      <span class="m-l-md">
        <time-field createdAt="{{html .CreatedAt}}" modifiedAt="{{html .ModifiedAt}}"></time-field>
      </span>
    </div>
  </div>
</div>
