<!DOCTYPE html>
<html lang="{{html .AppLang}}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{html .Title}}</title>
    <style>
      body {
        min-height: 100vh;
        display: grid;
        grid-template-rows: auto 1fr auto;
      }
    </style>
    {{.Header}}
  </head>

  <body>
    <header><navbar-app></navbar-app></header>
    <main>{{.ContentHTML}}</main>
    <footer id="main-footer">
      <container-view nobs>
        <p><a href="/">{{html .LS.QingSiteName}}</a></p>
        <p class="p-b-md">
          <span id="br-copyright">
            <span class="__qing_ls__">copyright</span> ©
            <script>
              document.write(new Date().getFullYear());
            </script>
          </span>
          &nbsp;<span><a href="{{html .LS.QingSiteUrl}}">{{html .LS.QingSiteUrl}}</a></span>
        </p>
      </container-view>
    </footer>

    <script>
      window.appUserID = '{{js .AppUserID}}';
      window.appUserURL = '{{js .AppUserURL}}';
      window.appUserName = '{{js .AppUserName}}';
      window.appUserIconURL = '{{js .AppUserIconURL}}';
      window.appUserAdmin = '{{.AppUserAdmin}}' === 'true';
      window.appCommunityMode = '{{js .AppCommunityMode}}';
      window.appWindData = JSON.parse('{{js .AppWindDataString}}' || null);
    </script>
    {{.Scripts}}
  </body>
</html>
