<!DOCTYPE html>
<html lang="{{html .AppLang}}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{html .Title}}</title>
    {{.Header}}
  </head>

  <body>
    <header><navbar-app></navbar-app></header>
    <main>{{.ContentHTML}}</main>
    <footer id="main-footer">
      <div class="container">
        <p><a href="/">{{html .LS.QingSiteName}}</a></p>
        <p class="p-b-md">
          <span id="br-copyright">
            {{html .LS.Copyright}} ©
            <span id="main-cp-year"></span>
          </span>
          &nbsp;<span>{{html .LS.QingSiteLink}}</span>
        </p>
      </div>
    </footer>

    <script>
      window.appPageState={{.ZState}};
      {{if .ZExtra}}window.appPageExtra={{.ZExtra}};{{end}};
    </script>
    {{.Scripts}}
  </body>
</html>
