<div class="m-t-md row">
  <div class="col-auto">
    <a href="{{.UserURL}}">
      <img src="{{.UserIconURL}}" class="avatar-m" width="50" height="50" />
    </a>
  </div>
  <div class="col">
    <div><a href="{{.UserURL}}">{{html .UserName}}</a></div>
    <p>
      <!-- prettier-ignore -->
      <time-field>{{.ItemCreatedAt.Format "2006-01-02T15:04:05Z07:00"}}{{if .ItemModifiedAt}}|{{.ItemModifiedAt.Format "2006-01-02T15:04:05Z07:00"}}{{end}}</time-field>
      <!-- `id` format should be in sync with `editBarApp.ts`: `editBarID` -->
      <edit-bar-app
        class="m-l-md"
        id="edit-bar-{{.ItemType}}-{{.ItemEID}}"
        uid="{{.UserEID}}"
        hasLeftMargin
      ></edit-bar-app>
    </p>
  </div>
</div>
