<container-view>
  <div class="row">
    <div class="col-md-auto">
      <div class="text-center">
        <p>
          <img src="{{.IconURL}}" width="250" height="250" class="avatar-l" />
        </p>
      </div>
    </div>
    <div class="col-md">
      <h2>{{html .Name}}</h2>
      <hr />

      <!-- info -->
      <div class="m-t-lg m-b-lg">
        {{if .Location}}
        <p class="m-t-md">
          <tag-view>{{html .LS.Location}}</tag-view>
        </p>
        <p class="m-t-sm">{{html .Location}}</p>
        {{end}} {{if .Company}}
        <p class="m-t-md">
          <tag-view>{{html .LS.Company}}</tag-view>
        </p>
        <p class="m-t-sm">{{html .Company}}</p>
        {{end}} {{if .Website}}
        <p class="m-t-md">
          <tag-view>{{html .LS.Url}}</tag-view>
        </p>
        <p class="m-t-sm">
          <a id="m-profile-url" href="#">{{html .Website}}</a>
        </p>
        {{end}} {{if .Bio}}
        <p class="m-t-md">
          <tag-view">{{html .LS.Bio}}</tag-view>
        </p>
        <p class="m-t-sm">{{.Bio}}</p>
        {{end}}
        <p class="m-t-md">
          <tag-view class="__qing_ls__">userID</tag-view>
        </p>
        <p class="m-t-sm"><profile-id-view value="{{.EID}}"></profile-id-view></p>
      </div>
    </div>
    <!-- column 2 -->
  </div>

  <div class="row m-t-md" id="m-profile-posts">
    <div class="col-md-1"></div>
    <div class="col-md-10 is-boxed">
      <div id="m-scroll-list"></div>
      <tab-view>
        <a id="m-profile-tab-posts" href="{{.ProfilePostsURL}}"
          >{{html .LS.Posts}} {{if .PostCount}}({{.PostCount}}){{end}}</a
        >
        <a id="m-profile-tab-discussions" href="{{.ProfileDiscussionsURL}}"
          >{{html .LS.Discussions}} {{if .DiscussionCount}}({{.DiscussionCount}}){{end}}</a
        >
      </tab-view>
      <div class="m-t-sm">{{.FeedListHTML}}</div>
      {{.PageBarHTML}}
    </div>
    <div class="col-md-1"></div>
  </div>
  <!-- <div class="row m-t-md"> -->
</container-view>

<script>
  window.appProfileURL = '{{js .UserURL}}';
  window.appProfileEID = '{{js .EID}}';
  window.appProfileWebsite = '{{js .Website}}';
</script>
