<!DOCTYPE html>
<html lang="{{.LS.HtmlLang}}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{html .Title}}</title>
    {{.Header}}
  </head>

  <body>
    <nav-bar-app></nav-bar-app>
    <main id="main-body">{{.ContentHTML}}</main>

    <script>
      window.appUserID = '{{js .AppUserID}}';
      window.appUserURL = '{{js .AppUserURL}}';
      window.appUserName = '{{js .AppUserName}}';
      window.appUserIconURL = '{{js .AppUserIconURL}}';
      window.appLang = '{{js .AppLang}}';
      window.appForumsMode = '{{.AppForumsMode}}' === true;
    </script>

    <footer id="main-footer">
      <container-view>
        <span>
          <a href="/">Qing</a>
          <br />
          {{html .LS.Copyright}} ©
          <script>
            document.write(new Date().getFullYear());
          </script>
          &nbsp;<span
            ><a href="https://github.com/mgenware/qing">https://github.com/mgenware/qing</a></span
          >
        </span>
      </container-view>
    </footer>

    {{.Scripts}}
  </body>
</html>
