:root {
  --default-back-color: white;
  --default-fore-color: black;

  --default-secondary-fore-color: #676f75;
  --default-primary-fore-color: #4f81c7;
  --default-danger-fore-color: #d11e30;
  --default-success-fore-color: #43ac6a;
  --default-warning-fore-color: #f3b807;

  --default-separator-color: #dadada;

  --primary-back-color: #4f81c7;
  --primary-fore-color: white;
  --danger-back-color: #ff5664;
  --danger-fore-color: #000000;
  --success-back-color: #43ac6a;
  --success-fore-color: white;
  --info-back-color: #e7e7e7;
  --info-fore-color: #343a40;
  --warning-back-color: #f3b807;
  --warning-fore-color: #2f343a;

  --footer-back-color: #494949;
  --footer-fore-color: #9c9c9c;

  --keyboard-focus-color: #8dc3eb;
  --navbar-back-color: #343a40;
  --navbar-fore-color: #cfcfcf;
  --navbar-divider-color: #4b4b4b;
  --navbar-border-bottom: 0;
}

.theme-dark {
  --default-back-color: black;
  --default-fore-color: #777777;
  --default-secondary-fore-color: #5a5a5a;
  --default-primary-fore-color: #35588a;
  --default-danger-fore-color: #8a1212;
  --default-success-fore-color: #205333;
  --default-warning-fore-color: #554000;

  --default-separator-color: #272727;

  --primary-back-color: #35588a;
  --primary-fore-color: #b4b4b4;

  --danger-back-color: #570000;
  --danger-fore-color: #777777;
  --success-back-color: #205333;
  --success-fore-color: #a5a5a5;
  --info-back-color: #272727;
  --info-fore-color: #727374;
  --warning-back-color: #554000;
  --warning-fore-color: #979797;

  --footer-back-color: #000000;
  --footer-fore-color: #3d3d3d;

  --keyboard-focus-color: #51708a;

  --navbar-back-color: #000000;
  --navbar-fore-color: #707070;
  --navbar-divider-color: #353535;
  --navbar-border-bottom: 1px solid var(--navbar-divider-color);
}

qing-button::part(button) {
  background-color: var(--info-back-color);
  color: var(--info-fore-color);
  --button-outline-color: var(--keyboard-focus-color);
}

qing-button[btnStyle='success']::part(button) {
  background-color: var(--success-back-color);
  color: var(--success-fore-color);
}

qing-button[btnStyle='danger']::part(button) {
  background-color: var(--danger-back-color);
  color: var(--danger-fore-color);
}

qing-button[btnStyle='primary']::part(button) {
  background-color: var(--primary-back-color);
  color: var(--primary-fore-color);
}

qing-button[btnStyle='warning']::part(button) {
  background-color: var(--warning-back-color);
  color: var(--warning-fore-color);
}

qing-dialog::part(overlay) {
  background-color: var(--default-back-color);
  color: var(--default-fore-color);
  border-radius: 4px;
  border: 1px solid var(--default-separator-color);
}

qing-dialog::part(footer-button) {
  background-color: var(--info-back-color);
  color: var(--info-fore-color);
  --button-outline-color: var(--keyboard-focus-color);
}

qing-dialog .icon-success {
  fill: var(--default-success-fore-color);
}
qing-dialog .icon-warning {
  fill: var(--default-warning-fore-color);
}
qing-dialog .icon-error {
  fill: var(--default-danger-fore-color);
}
