<!-- An SEO-friendly page bar. -->
<!-- Refer to `server:r/rcm/pageData.go` for template fields. -->
{{if or .HasPrevPage .HasNextPage}}
<p class="text-center">
  {{if .TotalPage}}
  <a class="link-btn" href="{{html .FirstPageURL}}">&lt;&lt;</a> {{end}}
  <a class="link-btn {{if not .HasPrevPage}}content-disabled{{end}}" href="{{html .PrevPageURL}}"
    >{{html .LS.PreviousPage}}</a
  >
  <a class="link-btn {{if not .HasNextPage}}content-disabled{{end}}" href="{{html .NextPageURL}}"
    >{{html .LS.NextPage}}</a
  >
  {{if .TotalPage}}
  <a class="link-btn" href="{{html .LastPageURL}}">&gt;&gt;</a>
  {{end}}
</p>
{{end}}
