<post-user-app
  createdAt="{{html .ItemCreatedAt}}"
  modifiedAt="{{html .ItemModifiedAt}}"
  uid="{{html .UserEID}}"
  entityType="{{html .EntityType}}"
  eid="{{html .ItemEID}}">
  <a href="{{html .UserURL}}" slot="img">
    <img
      src="{{html .UserIconURL}}"
      alt="{{html .UserName}}"
      class="avatar-m"
      width="50"
      height="50" />
  </a>
  <a href="{{html .UserURL}}" slot="name">{{html .UserName}}</a>
  <span slot="status">{{.UserStatus}}</span>
  <span slot="toolbar">
    <edit-bar-app uid="{{html .UserEID}}"></edit-bar-app>
  </span>
</post-user-app>
