<div class="container section">
  <div class="info-row">
    <div class="text-center">
      <img
        src="{{html .IconURL}}"
        title="{{html .Name}}"
        alt="{{html .Name}}"
        width="250"
        height="250"
        class="avatar-l" />
    </div>
    <div class="col-md">
      <h2>{{html .Name}}</h2>
      <hr />

      <div class="m-t-lg m-b-lg">
        {{if .Location}}
        <p class="m-t-md">
          <tag-view class="__qing_ls__">location</tag-view>
        </p>
        <p class="m-t-sm">{{html .Location}}</p>
        {{end}} {{if .Company}}
        <p class="m-t-md">
          <tag-view class="__qing_ls__">company</tag-view>
        </p>
        <p class="m-t-sm">{{html .Company}}</p>
        {{end}} {{if .Website}}
        <p class="m-t-md">
          <tag-view class="__qing_ls__">url</tag-view>
        </p>
        <p class="m-t-sm">
          <a id="m-profile-url" href="#" target="_blank">{{html .Website}}</a>
        </p>
        {{end}}
        <p class="m-t-md">
          <tag-view class="__qing_ls__">userID</tag-view>
        </p>
        <p class="m-t-sm"><profile-id-view value="{{html .EID}}"></profile-id-view></p>
        {{if .BioHTML}}
        <p class="m-t-md">
          <tag-view class="__qing_ls__">bio</tag-view>
        </p>
        <p class="m-t-sm">{{.BioHTML}}</p>
        {{end}}
      </div>
    </div>
  </div>

  <div id="m-profile-posts" class="is-boxed">
    <div id="m-scroll-list"></div>
    <tab-view>
      <a id="m-profile-tab-posts" href="{{html .ProfilePostsURL}}"
        ><span class="__qing_ls__">posts</span> {{if .PostCount}}({{.PostCount}}){{end}}</a
      >
      <a id="m-profile-tab-fposts" href="{{html .ProfileFPostsURL}}"
        ><span class="__qing_ls__">fposts</span> {{if .FPostCount}}({{.FPostCount}}){{end}}</a
      >
    </tab-view>
    <div class="m-t-sm">{{.FeedListHTML}}</div>
    {{.PageBarHTML}}
  </div>
</div>
